name: Ubuntu

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CTEST_OUTPUT_ON_FAILURE: 1
  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        config: [Debug, Release]

    steps:
      - uses: actions/checkout@v2
      - uses: turtlebrowser/get-conan@v1.0

      - name: install conan dependencies
        run: conan install -if build .

      - name: configure
        run: cmake . -Bbuild -DENABLE_TEST_COVERAGE=1 -DCMAKE_BUILD_TYPE=${{ matrix.config }}

      - name: build
        run: cmake --build build -j4

      - name: test
        run: |
          cd build
          ctest --build-config ${{ matrix.config }}

      - name: collect code coverage
        run: bash <(curl -s https://codecov.io/bash) || echo "Codecov did not collect coverage reports"
